@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: none;
}

img {
  width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #3F51B5
}

.githubCorner {
  color: #fff;
  fill: #1abc9c;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@media (max-width:570px) {
  .githubCorner {
    height: 60px;
    width: 60px
  }
}

.githubCorner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@media (max-width:500px) {
  .githubCorner:hover .octo-arm {
    animation: none
  }

  .githubCorner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@-moz-keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-webkit-keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-o-keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

/**/

.loader {
  margin: auto;
  border: 10px solid #f93;
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**/
.cc-about {
  position: relative;
}

.cc-about .app {
  margin: 20px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cc-about .app h3 {
  margin-bottom: 5px;
  font-weight: 500;
}
.cc-about .app img {
  border-radius: 50%;
  width: 50%;
}
.cc-about .app button {
  margin: 10px 0;
  background: #222;
  border-radius: 6px;
  color: #fff;
  padding: .5em 1em;
  border: none;
  width: 100px;
}

.cc-about .img {
  margin: 1em 0;
  justify-content: center;
  display: flex;
}
.cc-about .img img {
  width: 150px;
  border: solid 4px #fff;
  border-radius: 50%;
}

.cc-about footer {
  justify-content: center;
  display: flex
}
.cc-about footer a {
  padding: 10px;
}
.cc-about footer a i {
  color: #1abc9c;
  font-size: 2em;
}