@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&display=swap');

:root {
  --principle-color: #3F51B5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: none;
}

img {
  width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--principle-color)
}

.githubCorner {
  color: #fff;
  fill: var(--principle-color);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@media (max-width:570px) {
  .githubCorner {
    height: 60px;
    width: 60px
  }
}

.githubCorner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@media (max-width:500px) {
  .githubCorner:hover .octo-arm {
    animation: none
  }

  .githubCorner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@-moz-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-o-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

/**/
.loader {
  margin: auto;
  border: 10px solid #f93;
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cc-about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cc-about .profile {
  margin: 1em 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cc-about .profile img {
  width: 150px;
  border: solid 4px #fff;
  border-radius: 50%;
}
.cc-about .profile h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  font-family: 'Dancing Script', cursive;
}

.cc-about .app {
  margin: 20px 0;
}
.cc-about .app a {
  display: inline-block;
  text-align: center;
  border: solid 1px #b2b2b2;
  padding: 15px;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
}

.cc-about footer {
  justify-content: center;
  display: flex
}
.cc-about footer a {
  padding: 10px;
}
.cc-about footer a i {
  color: var(--principle-color);
  font-size: 2em;
}