.githubCorner {
  color: #fff;
  fill: var(--principle-color);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

/* .loading {
  margin: auto;
  border: 10px solid #f93;
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
} */

.about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about__profile {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__image {
  width: 200px;
  border: solid 4px #fff;
  border-radius: 50%;
}

.about__title {
  color: #333;
  margin-top: .4em;
  margin-bottom: 5px;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

.about__description {
  width: 300px;
  margin-bottom: 1em;
  text-align: center;
  line-height: 20px;
  color: var(--seg-color);
  font-size: 1.3rem;
  font-family: 300;
}

.about__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 20px 0;
  border: solid 1px #b2b2b2;
  border-radius:4px;
}

.about__item .about__title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  color: #eee;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5)
}

.footer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: #66757f;
}

.footer__icons {
  text-align: center;
  padding: 10px;
}

.footer__link {
  padding: 2px;
}
