@media (max-width:570px) {
  .githubCorner {
    height: 60px;
    width: 60px
  }
}

.githubCorner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@media (max-width:500px) {
  .githubCorner:hover .octo-arm {
    animation: none
  }

  .githubCorner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@-moz-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@-o-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer div a i:hover {
  color: var(--principle-color);
}