@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

* { outline: 0; }

body {
  margin: 0;
  background-color: #262632;
  font-family: 'Source Code Pro', monospace;
}

header {
  background: #f5f5fa;
  padding: 20px;
  margin: 0 0 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #25272E;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  font-weight: 500;
  display: inline;
}

small {
  color: red;
}

span {
  color: white;
}

section {
  margin: 1em;
}

#state, #erros {
  color: #e2584d;
}

#marking_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  border: none;
  box-shadow: #000 inset 1px 1px 0 2px;
  background: #222;
  font-family: monospace;
  border: #444 solid 2px;
  transition: 2s;
  padding: .5em .8em .5em .8em;
  font-size: 1.8em;
  font-weight: bold;
  width: 15px;
  margin: 0;
  color: #fff;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f5f5f0;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add custom */
.container input:checked ~ .checkmark {
  background-color: #222;
  transition: .8s;
  box-shadow: #000 inset 1px 1px 0 2px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.main_div, #reset {
  display: none;
}

button {
  position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: #36AA4D;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  padding: 6px 4px;
  border: solid 2px #36AA4D;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 9px 0 green ,0 9px 25px rgba(0,0,0,.7);
  margin: 1em auto;
  min-width: 130px;
  max-width: inherit;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

button:active, button:hover {
  box-shadow: green 1px 1px 0 1px;
}

.table {
  font-size: 1.1em;
  font-family: monospace;
  font-weight: bold;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table p {
  margin: .2em 0;
}

.letras {
  margin: 1em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 0fr);
  grid-gap: 0px;
}

.letras input {
  box-shadow: #000 1px 1px 0 2px;
  transition: none;
  display: inline;
  cursor: pointer;
}

.letras input:active {
  box-shadow: #000 inset 2px 2px 0 3px;
}